<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <h3>This Project <%= project.proofs.count ? 'has' : 'have' %> <%= pluralize( project.proofs.count, 'proof' ) %>.</h3>
    <%= link_to 'Add new Proof', new_project_proof_path( @project ) if ! @project.id.nil?  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<% if ! @project.id.nil? && project.proofs.count == 0 %>
  <%= form_for(project, :url => {:action => "generate"}) do |f| %>
      <%= button_to 'Generate all Proofs', id: project  %>
  <% end %>
<% end %>
