<!DOCTYPE html>
<html>
  <head>
    <title>Scrapcal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="menu">
      <% if user_signed_in? %>
        <li><%= link_to( 'Calendar', root_path ) %></li>
        <li><%= link_to( 'Photos', photos_path ) %></li>
        <% if flash[:notice]  %>
          <li class="notice"><%= notice %></li>
        <% end %>
        <% if flash[:alert]  %>
          <li class="alert"><%= alert %></li>
        <% end %>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <% end %>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
